@use '../base/colors';
@use '../base/typography';
@use '../base/utils';

$_background-color: colors.get('white');

.card {
  background-color: $_background-color;

  height: 100%;

  @media (min-width: utils.pxToRem(736px)) {
    height: auto;
    width: utils.pxToRem(736px);
  }
}

.card__header {
  margin-top: 0;
  margin-bottom: utils.pxToRem(40px);
  height: utils.pxToRem(171px);

  @media (min-width: utils.pxToRem(736px)) {
    height: utils.pxToRem(300px);
    padding: utils.pxToRem(32px) utils.pxToRem(32px) 0 utils.pxToRem(32px);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__main {
  display: block;
  padding: 0 utils.pxToRem(32px) utils.pxToRem(40px) utils.pxToRem(32px);
}
