@forward 'base/reset';
@use 'base/colors';
@use 'base/utils';
@forward 'components/card';
@forward 'pages/recipe-entry';

body {
  background-color: colors.get('eggshell');

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
